.homeSection {
  padding: 120px 0 80px;
  margin-bottom: 2em;
}
.shopnav{
  text-decoration: none;
}
.cardWrapper {
  border: 1px solid #E1E0E0;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 40px;
  background: #fff;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}
.productLabel {
    color: #6b6b6b;
    border: 2px solid #eff0f1;
    border-radius: 24px;
    padding: 8px 16px;
    font-size: 14px;
}
.shopbtn{
  display: flex;
  align-items: center;
  color: #ff5a00;
  text-decoration: none;
  padding: 7px 14px;
  border-radius: 24px;
  gap: 8px;
    &:hover {
    background: #ff5a00;
    color: #fff;
  }
}
.cardBody {
  border-radius: 14px;
  overflow: hidden;
  border: 1px solid #E1E0E0;
}
.productImage {
  width: 100%;
  height: auto;
  display: block;
}