.header {
  background: #f6f6f3;
  padding: 10px 0;
  transition: all 0.3s ease;
  &.scrolled {
    // box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  }
}
.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Logo */
.logo {
  display: flex;
  align-items: center;
}
/* Center Nav */
.navMenu {
  display: flex;
  align-items: center;
  gap: 26px;
  padding: 12px 26px;
  border-radius: 40px;
}
/* Nav Links */
.navLink {
// font-family: Instrument Sans;
font-weight: 500;
font-style: SemiBold;
font-size: 16px;
// leading-trim: NONE;
line-height: 100%;
letter-spacing: 5%;
text-align: center;
text-decoration: none;
color: #959595;
  svg {
    font-size: 16px;
  }
  &:hover {
    color: #000000;
    font-weight: 600;
  }
}
/* Location */
.location {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #333333;
  padding: 1em;
  background-color: #ECECE8;
  border-radius: 3em;
  svg {
    font-size: 14px;
    color: #e53935;
  }
}
/* Responsive */
@media (max-width: 991px) {
  .navMenu {
    display: none;
  }
}
.hasTooltip {
  position: relative;

  .tooltip {
    position: absolute;
    bottom: -38px;
    left: 50%;
    transform: translateX(-50%);
    background: #D1D3D6;
    color: #000;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease, transform 0.2s ease;
  }

  &:hover .tooltip {
    opacity: 1;
    transform: translateX(-50%) translateY(2px);
  }
}

