.header {
  background: #f6f6f3;
  padding: 10px 0;
  transition: all 0.3s ease;
}
.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
/* Center Nav */
.navMenu {
  display: flex;
  align-items: center;
  gap: 26px;
  padding: 12px 26px;
  border-radius: 40px;
}
/* Nav Links */
.navLink {
font-weight: 500;
font-style: SemiBold;
font-size: 16px;
line-height: 100%;
letter-spacing: 5%;
text-align: center;
text-decoration: none;
color: #959595;
  svg {
    font-size: 16px;
  }
  &:hover {
    color: #000000;
    font-weight: 600;
  }
}
/* Location */
.location {
  position: relative;
    color: #333;
    background-color: #ecece8;
    border-radius: 3em;
    align-items: center;
    gap: 6px;
    padding: 1em;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.locationImages {
  position: absolute;
  top: 120%;
  left: 40;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.location:hover .locationImages {
  opacity: 1;
}
.locationImages img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  opacity: 0;
  animation: imageFade 10s infinite;
}
.locationImages img:nth-child(1) { animation-delay: 0s; }
.locationImages img:nth-child(2) { animation-delay: 1s; }
.locationImages img:nth-child(3) { animation-delay: 2s; }
.locationImages img:nth-child(4) { animation-delay: 3s; }
.locationImages img:nth-child(5) { animation-delay: 4s; }

/* Fade animation */
@keyframes imageFade {
  0%   { opacity: 0; }
  5%   { opacity: 1; }
  20%  { opacity: 1; }
  25%  { opacity: 0; }
  100% { opacity: 0; }
}
.hasTooltip {
  position: relative;
  .tooltip {
    position: absolute;
    bottom: -38px;
    left: 50%;
    transform: translateX(-50%);
    background: #D1D3D6;
    color: #000;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease, transform 0.2s ease;
  }
  &:hover .tooltip {
    opacity: 1;
    transform: translateX(-50%) translateY(2px);
  }
}
/* Responsive */
@media (max-width: 991px) {
  .navMenu {
    display: none;
  }
}

